<h1>Your number is: <%= @guess %>!</h1>

<%= @result %>

<p>
  Number of tries: <%= @counter %>
</p>

<p> Welcome <%= cookies[:name] %>! We are glad to see you here! :D </p>

<!-- All the code is rendered in game_controller and this try template is displaying. -->
